<h1>PERSONAJES FUTURAMA</h1>

<input type="checkbox" name="isListaEnabled" [(ngModel)]="isListaEnabled">
<input type="text" name="nombrePersonaje" [(ngModel)]="nombrePersonaje">

<h3>{{nombrePersonaje}}</h3>

<table>
    <thead>
        <tr>
            <td>Id</td>
            <td>Nombre</td>
        </tr>
    </thead>
    <tbody>
        <ng-container *ngFor="let numeroDeListaActual of listaEjemploFor">
           <tr>
            <td>{{numeroDeListaActual}}</td>
            <td>Mi número {{numeroDeListaActual}}</td>
           </tr> 
        </ng-container>
    </tbody>
</table>


<div *ngIf="isListaEnabled" id="contenedorPersonajes">
    <div class="container">
        <div class="row">
            <ng-container *ngFor="let personajeSerieFuturama of listaPersonajes.items">
                <app-personaje class="col-md-4 col-sm-6" [personajeFuturama]="personajeSerieFuturama"></app-personaje>
            </ng-container>
        </div>
    </div>
</div>

